<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/jquery-ui.css' />

    <link rel="icon" type="image/x-icon"  href="/images/favicon.png">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <!--<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>-->
    <script src="https://code.highcharts.com/stock/highstock.js"></script>
    <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/stock/highcharts-more.js"></script>
    <script src="/js/1-11-4-jquery-ui.js"></script>
    <script src="/js/jq-ui.min.js"></script>
    <script src="/js/underscore.js"></script>

    <script src="/socket.io/socket.io.js"></script>
    <!--<script src="/js/chart.min.js"></script>-->
    <script src="http://www.chartjs.org/assets/Chart.min.js"></script>
    <script src="/js/smoothie.js"></script>
    <script src="/js/c_tst.js"></script>
    <script src="/js/jsmpg.js"></script>
    <script src="/js/socket_handle.js"></script>
    <script src="/js/logs_page_scripts.js"></script>
    <script src="/js/home_page_scripts.js"></script>
    <script src="/js/light_home_log.js"></script>

    <script type="text/javascript" src="/js/handle.js"></script>
    <script src="/js/mousewheel.js"></script>
    <script src="/js/scroll.js"></script>

    <link rel='stylesheet' href='/stylesheets/scroll.css' />
  </head>


  <body>
  <div id="global_wrapper">
    <div id="logo"></div>
    <div id="u_menu" class="work_style">
      <input type="button" class="u_button" id="button_home" ws="1" title="Главная">
      <input type="button" class="u_button" id="button_table" ws="2" title="Бизнес-статистика">
      <input type="button" class="u_button" id="button_weight" ws="4" title="Статистика за день">
      <input type="button" class="u_button" id="button_map" ws="7" title="Схема линии">
      <input type="button" class="u_button" id="button_sensor" ws="5" title="Датчики">
      <input type="button" class="u_button" id="button_logs" ws="6" title="Логи">


      <div id="log_info_wrapper">
        <div id="users_count">
          <div id="users_count_inner_text"></div>
        </div>
        <div id="last_logs">
          <div id="last_logs_inner_text"></div>
        </div>
      </div>
    </div>
    <div id="wrapper">
      <div id="workspace_1" class="work_style main_area">
        <div id="scales">
          <div class="sc_tab">
            <div class="sc_tab_name">
              Scales 3.5
              <div class="sc_led">
                <div class="sc_led_light" id="scale_25_led"></div>
              </div>
            </div>
            <div id="scale_1_kgh">Кг/ч: </div>
            <div id="scale_1_kgd">Кг/д: </div>
            <div id="scale_2_canvas_div">
              <canvas id="scale_25_canvas" width="195px" height="50px"></canvas>
            </div>
          </div>

          <div class="sc_tab">
            <div class="sc_tab_name">
              Scales 2.4
              <div class="sc_led">
                <div class="sc_led_light" id="scale_35_led"></div>
              </div>
            </div>
            <div id="scale_2_kgh">Кг/ч: </div>
            <div id="scale_2_kgd">Кг/д: </div>
            <div id="scale_2_canvas_div">
              <canvas id="scale_35_canvas" width="195px" height="50px"></canvas>
            </div>
          </div>
          <!--test-->
          <div class="sc_tab">
            <div class="sc_tab_name">
              Test
              <!--<div id="test_div" style="min-width: 150px; height: 200px; margin: 0 auto"></div>-->
            </div>
          </div>
          <!--test-->
        </div>
      </div>

      <div id="workspace_2" class="work_style main_area">
        <div  id="charts">

          <div id="hi_stock" style="width: 95%; height: 95%; margin: 0 auto; max-height: 600px; max-width: 720px"></div>
        </div>
      </div>
      <div id="workspace_4" class="work_style main_area">
        <div id="linemap">
          <div id="test_div" style="width: 100%; height: 100%; margin: 0 auto; max-height: 600px; max-width: 720px"></div>
        </div>
      </div>
      <div id="workspace_5" class="work_style main_area">
        <div id="sensors">

        </div>
      </div>
      <div id="workspace_6" class="work_style main_area">
        <div id="logs"></div>
      </div>
      <div id="workspace_7" class="work_style main_area">
        <div id="map">
          <%
            var elements = ["trans_1", "bunker", "trans_2", "syclone", "trans_3", "knives", "vibro", "line_scales"];
            for(var i = 0; i < 8; i++){
          %>
            <div class="line_wrapper" id="<%=elements[i]%>">
              <div class="line_info"></div>
              <div class="line_settings"></div>
            </div>
          <%}%>
          <div id="modal_chart">
            <div id="modal_canvas" style="width: 95%; height: 95%; margin: 0 auto; max-height: 600px; max-width: 720px"></div>
          </div>
        </div>
      </div>
      <div id="io-status-box" class="work_style">
        <div class="box-header">
          <label class="box-header-label">IO Status</label>
          <hr class="box-header-hr">
        </div>
        <div>
          <% for(var i = 0; i < 20; i++){ %>
          <div class="box-inner">
            <div class="box-inner-block">
              <div class="box-inner-text">
                <label class="box-inner-label">I/O-<%= i %>: </label>
              </div>
              <div class="box-inner-switches">
                <div class="switch">
                  <input id="cmn-toggle-<%= i %>" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
                  <label for="cmn-toggle-<%= i %>"></label>
                </div>
                <div class="led">
                  <div class="led_light"></div>
                </div>
              </div>
            </div>
          </div>
          <% } %>
        </div>
      </div>
    </div>

    <script src="/js/small_graph.js"></script>
    <script src="/js/hi_chart.js"></script>
    <script src="/js/hi_stock.js"></script>

  </div>
  </body>
</html>
